@import "src/colors";

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.username {
  color: $orange;
}

@media all and (min-width: 1540px) {
  .username {
    position: relative;
    z-index: 1;
  }

  .userLink:hover a {
    text-decoration: underline;
  }
}