@import "../../colors";

.btn {
  display: flex;

  svg {
    flex-shrink: 0;
    margin-right: 6px;
  }
}

.btn * {
  color: $grayC4;
}

.btnText, .btnCloseText {
  padding: 0 0 0 6px;
  font-size: 14px;
  line-height: 16px;
}

.btnClose {
  width: 100%;
  background: $grayD9;
  border-radius: 0 0 3px 3px;
}

.btnCloseText {
  color: $gray66;
}

.btn, .btnClose {
  padding: 10px 20px;
}

@media all and (min-width: 1024px) {

  button span:hover {
    color: $orange;
  }

  .btn:hover > svg > path {
    fill: $orange;
  }
}